@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
/* this doesnt work here */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: hsl(210, 35%, 60%);
    background-color: #02040D;
    box-shadow: inset 0 0 20px 20px #02040D;
  }
}

@layer components {
  .display {
    background-color: hsl(0, 0%, 0%, 0.4);
    border: 1px solid theme('colors.midnight.700');
    border-radius: 0.5em;
    /* font-size: theme('fontSize.step.0'); */
    font-family: 'Nunito', 'Albert Sans', sans-serif;
    font-weight: theme('fontWeight.light');
    line-height: 1.5;
    color: theme('colors.ltblue.txt');
    padding: theme('spacing.fluid-s');
    overflow-y: auto;
  }
}

@layer components {
  .tile {
  background-image: linear-gradient(
  180deg,
  hsl(229deg 73% 3%) 0%,
  hsl(229deg 65% 2%) 30%,
  hsl(229deg 60% 2%) 50%,
  hsl(229deg 50% 1%) 60%,
  hsl(229deg 20% 1%) 70%,
  hsl(229deg 10% 1%) 80%,
  hsl(229deg 60% 0%) 100%);
    border: 1px solid theme('colors.midnight.700');
    border-radius: 0.5em;
    color: theme('colors.ltblue.txt');
    padding: theme('spacing.fluid-s');
    overflow-y: hidden;
  }
}

.vignette {
  background-color: hsl(210, 65%, 60%, 0.8);
  background-image: linear-gradient(265deg,
        hsl(228deg 71% 7%) 0%,
        hsl(226deg 68% 16%) 4%,
        hsl(222deg 66% 25%) 9%,
        hsl(219deg 64% 33%) 16%,
        hsl(216deg 60% 42%) 24%,
        hsl(213deg 57% 51%) 36%,
        hsl(210deg 55% 60%) 56%,
        hsl(213deg 57% 51%) 82%,
        hsl(216deg 60% 42%) 92%,
        hsl(219deg 64% 33%) 97%,
        hsl(222deg 66% 25%) 99%,
        hsl(226deg 68% 16%) 100%,
        hsl(228deg 71% 7%) 100%);
}

.gradient {
    background: conic-gradient(from 144deg, #203965 0%, #218fbe 32%, #73b1e7 70%, rgba(32,57,101,1) 99%) no-repeat;
border-radius: 8px;
padding: 9px;
box-sizing: border-box;
}