@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 200;
}

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  color: #7890c9;
  background-color: #09102b;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

/*----------------- LISTS & LINKS ----------------*/

ul {
  list-style-type: none;
  list-style-position: inside;
}

a, a:visited {
  color: #7890c9;
  text-decoration: none;
}

a:hover {
  color: #7a89ae;
}

li a,
li a:visited {
  color:#7890c9;
  text-decoration: none;
}

li a:hover {
  color: #7a89ae;
}



/*------------- BACKGROUNDS -------------*/

/* dark mode */
.dm {
  background-color: #09102b;
  color: #7a89ae;
}

/* light mode */
.lm {
  background-color: #7a89ae;
  color: #09111e;
}

/* .bg-img {
  background-image: url(/learning/test1/svg/disdain.svg);
} */


/*--------------- CONTAINERS --------------*/

.app-container {
  background-image: url(/learning/test1/svg/disdain.svg);
  background-repeat: no-repeat;
  /* border: 1px dashed rgb(93, 0, 255); */
  /* margin: 2rem; */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
padding: 0.7rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.anne-bx {
  /* border: 0.5px dashed #ff00bb; */
  display: flex;
  width: 110px;
}

.version-bx{
  display: flex;
}


/* holds nav and output */
.main-container {
  /* border: 0.5px dashed #bfff00; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*   "show me"   sidebar container */
nav {
  /* border: 0.5px dashed #09ff00; */
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-shrink: 0;
}

.dight {
  align-self: flex-end;
}

.center {
  align-self: center;
}

/* holds menu list items i think*/
.menu-bx {
  /* border: 1px dashed rgb(255, 0, 0); */
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-content: space-evenly;
  /* flex-grow: 0; */
  padding: 0.5rem;
  gap: 0.5rem;
  overflow: hidden;
}

/* dont know what this is anymore */
/* .nav { */
  /* border: 1px dashed rgb(255, 255, 255); */
  /* min-height: 400px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: start; */
  /* justify-content: space-evenly; */
  /* gap: 0.5rem; */
  /* flex-grow: 1; */
  /* padding: 0.5rem; */
  /* overflow: hidden; */
/* } */



/* add the form to this */
#login-bx {
  /* border: 0.5px solid rgb(0, 195, 255); */
  display: flex;
}

/* placeholder box */
.bx {
  /* border: 0.5px dashed #fff; */
  min-width: fit-content;
}


/* terminal looking log box */
#output-bx {
  background-color: hsla(0, 0%, 0%, 0.25);
  /* border: 1px solid rgba(47, 161, 255, 0.30); */
  border-radius: 1%;
  color: #fff;
  font-size: 0.8rem;
  font-family: monospace;
  font-weight: lighter;
  max-width: 50%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;
  overflow-y: auto;
  /* fix that ^ ugly fucker */
}

.sneaky {
  color: #09102b00;
  width: 110px;
}

/* ignore this for now */
textarea {
  border: 1px solid rgba(47, 161, 255, 0.30);
  background-color: hsla(0, 0%, 0%, 0.25);
  border-radius: 1%;
  color:#7890c9;
  resize: none;
}
